
<h2>login View</h2>
<form action="" class="form col-md-4" (ngSubmit)="validate(uname.value, pwd.value)">
  <div class="form-outline mb-4">
    <label class="form-label" for="userNameInput">User Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter User Name"
      #uname
      required
    />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="passwordInput">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter your password"
      #pwd
      required
    />
  </div>
  <div>
    <a href="">Forgot Password?</a>
    <input
      type="submit"
      class="btn btn-primary"
      style="float: right"
    />
  </div>
</form>
<div *ngIf="invalid">
    <p class="text text-center text-danger">Invalid username or password!!</p>
  </div>
