<div class="container my-2">
  <!-- <a routerLinkActive="active" routerLink="/login">Login</a> | -->

  <a routerLinkActive="active" routerLink="home">Home</a> |

  <a routerLinkActive="active" routerLink="/categories">Categories</a> |

  <a routerLinkActive="active" routerLink="/editUser">Edit- User</a>|

  <a routerLinkActive="active" routerLink="/about">About</a>

  <div style="float: right">
    <button *ngIf="isButtonVisible" class="btn btn-primary mx-3" (click)="onLogInClick()">Login</button>

    <button class="btn btn-danger" (click)="onLogoutClick()">Logout</button>
  </div>
  <hr />
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="my-3 mt-5 text-center">
    <hr />
    <ad-banner [ads]="ads"></ad-banner>
  </div>
</div>