<div class="text-center">
  <img style="border-radius: 50%" [src]="profileDetails?.picture?.medium" alt="NA" />
</div>

<table
  *ngIf="profileDetails"
  class="table table-bordered table-striped table-danger table-hover"
>
  <thead class="text-center text-primary">
    <th colspan="2">Details</th>
  </thead>
  <tbody class="text-primary">
    <tr>
      <td>Name</td>
      <td>
        {{
          profileDetails?.name?.title + ". " + profileDetails?.name?.first + " " + profileDetails?.name?.last
        }}
      </td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ profileDetails?.gender | titlecase }}</td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>{{ profileDetails?.dob?.date | date }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ profileDetails?.email }}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{ profileDetails?.location?.country }}</td>
    </tr>
  </tbody>
</table>
<div class="float-right">
<button class="btn btn-warning float-none" title="Freeze Current Profile!" (click)="freezeProfile()">Stop</button>
<button class="btn btn-info float-none mx-2" title="Show the next Random profile!" (click)="getProfile()">Next Profile ></button>
</div>